
.hero {
  width: 100%;
  margin-top: 7em;
  min-height: 8em;
  background-color: var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em 0;
}

.logo {
  font-family: brice, sans-serif;
  font-size: 5rem;
  margin: 1rem 0;
}