
@font-face {
  font-family: 'brice';
  src: url('../../public/fonts/Brice-BlackSemiExpanded.otf');
}

:root {
  --max-width: 1380px;
  --border-radius: 25px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --orange: #FDC180;
  --yellow: #E0DD8A;
  --lime-green: #C0F5A8;
  --blue: #5897F8;
  --pink: #DB8AE0;
  --grey: #BAAEAE;
  --black: #000000;
  --sky-blue: #A8EDF5;
  --white: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  letter-spacing: .05rem;
  font-size: 1.1rem;
}

.max-container {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.margin-auto {
  margin: 0 auto;
}

.logo {
  font-family: brice, sans-serif;
  font-size: 1.5rem;
  padding: .25rem;
  transition: all 300ms ease;
}

.logo:hover {
  color: var(--white) !important;
}

/*  -------- RESET BUTTON + KEEP TAB OUTLINE -------- */
button {
  all: unset;
  outline: revert;
}

.button {
  border-radius: var(--border-radius);
  padding: 12px 28px;
  border: 4px solid var(--black);
  cursor: pointer;
  transition: all 300ms ease;
}

.button:hover {
  background-color: transparent;
  color: var(--black);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

/* -------- NAV ELEMENTS not in navbar.module.css -------- */

.nav__menu.active {
  display: flex;
  font-family: brice, sans-serif;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 600px;
  min-width: 50%;
  min-height: calc(100lvh);
  row-gap: 4rem;
  transition: all 400ms ease;
  background-color: var(--black);
  z-index: 999;
  right: 0;
}

.nav__menu {
  left: -103%;
}



/* -------- NAV HAMBURGER animation --------- */

.topLine {
  width: 100%;
  min-height: 5px;
  offset-anchor: auto;
  background-color: var(--black);
  transition: all 300ms ease ;
}

.bottomLine {
  width: 100%;
  min-height: 5px;
  offset-anchor: top;
  background-color: var(--black);
  transition: all 300ms ease;
}

/* -------- hamburgerButton Animation -------- */

.topLine.active {
  transform: rotate(45deg);
  transform-origin: top center;
  margin-top: 3px;
  background-color: var(--white)
}

.bottomLine.active {
  transform: rotate(-45deg);
  transform-origin: top left;
  background-color: var(--white)
}

main {
  margin-top: 4em;
}

/* -------- TEXT SIZE & COLORS -------- */
.bold {
  font-weight: bold;
}


.txt-white {
  color: var(--white);
}

.txt-black {
  color: var(--black);
}

.txt-orange {
  color: var(--orange);
}

.txt-yellow {
  color: var(--yellow);
}

.txt-lime-green {
  color: var(--lime-green);
}

.txt-blue {
  color: var(--blue);
}

.txt-pink {
  color: var(--pink);
}

.txt-grey {
  color: var(--grey);
}

.txt-pink {
  color: var(--pink);
}

.txt-sky-blue {
  color: var(--sky-blue);
}

/* -------- BACKGROUND COLORS -------- */

.bg-black {
  background-color: var(--black);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-lime-green {
  background-color: var(--lime-green);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-sky-blue {
  background-color: var(--sky-blue);
}


/* -------- GLOBAL MEDIA QUERIES -------- */

@media screen and (max-width: 600px) {
  .nav__menu.active {
    width: 100%;
  }

  .max-container {
    width: 90%;
  }
}
