.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100lvh;
}

.hero {
  width: 100%;
  margin-top: 7em;
  min-height: 8em;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em 0;
}

.logo {
  font-family: brice, sans-serif;
  font-size: 5rem;
  margin: 1rem 0;
}

/* Mobile */
@media (max-width: 700px) {
  .logo {
    font-size: 3rem;
    margin: .5rem 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}