.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4em;
  background-color: var(--orange);
  padding: 2rem;
  justify-content: center;;
}

.hamburgerButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 22px;
  cursor: pointer;
  z-index: 9999;
}


/* NAV ITEM */
.nav__item {
  transition: all 300ms ease;
}
.nav__item:hover {
  color: var(--white) !important;
}


/* SEARCH BAR */
.searchContainer {
  position: relative;
  font-family: inter, sans-serif;
  font-weight: 600;
  letter-spacing: .05rem;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.searchInput {
  min-width: calc(85% - 40px);
  min-height: 50px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  border: 4px solid var(--black);
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {

  .searchContainer {
      min-width: 400px;
      justify-content: flex-end;
  }
  .searchInput {
    min-width: calc(250px);
  }
}